# Dependencies
node_modules/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build
web-build/
